
.navbar {
	z-index: 20;
	background-color: #fff;
	padding: 5px 5px 5px 5px;
	font-size: 1em;
}

.navbar-right {

}

.navbar-brand {
	min-height: 40px;
	padding: 0 5px 5px;
}

.navbar-default .navbar-nav li a {
	padding: 5px 10px 6px 10px ;
	border-radius: 8px;
	margin-top: 8px;
	margin-right: .3em;
	text-align: center;
	color: orange;
	border-style: solid;
	border-width: 1px;
	border-color: orange;
}

.navbar-default .navbar-nav li a:active, .navbar-default .navbar-nav li a:hover{
	padding: 5px 10px 5px 10px ;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: orange;
	background-color: orange;
	margin-top: 8px;
	margin-right: .3em;
	color: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.brandResize {
	width: 55px;
	height: 50px;
}


/*home view*/
#home {
    background : url(https://images.pexels.com/photos/301926/pexels-photo-301926.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center fixed;
    display: table;
    height: 900px;
    position: relative;
    width: 100%;
    background-size: cover;
}


/* /////// user ///////// */
.ui.avatar.image, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg {
    margin-right: .25em;
    display: inline-block;
    width: 13em;
    height: 13em;
    border-radius: 500rem;
}

.ui.list .list>.item .header, .ui.list>.item .header {
    display: block;
    margin: 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    color: rgba(0,0,0,.87);
    font-size: 2em;
    text-align: center;
}

.profileHeader {
	text-align: center;
	margin-top: 7em;
}

.followers {
	font-size: 1.2em;
	margin-left: 1em;
	margin-top: 1em;
	color: black;
}

.headline {
	margin-top:1em;
	text-align: center;
}

.live {
	margin-top:2em;
	text-align: center;
}

.upload {
	margin: 1em;
  display: flex;
  flex-direction: row;
}

.uploads {
	margin: auto;
	width: 62%;
}

.button {
	margin: 0.5em;
	margin-top: 0em;
	border-radius: 500rem;
	font-size: 20px;
	color: black;
	background-color: lightgrey;
}

.enroll {
	margin: 0.5em;
	margin-top: 0em;
	border-radius: 500rem;
	font-size: 20px;
	color: black;
	background-color: lightgrey;
}

.ui.menu[class*="top attached"]:first-child {
    margin-top: 0;
    width: 50%;
    margin: auto;
}

.ui.fluid.container {
    width: 50%;
    margin-top: 6em;
    margin-bottom:2em;
}

h2.ui.header {
    font-size: 2rem;
    font-family: "Great Vibes";
    color: orange;
}
