/*.navbar {
	z-index: 20;
	background-color: #fff;
	padding: 1% 1% 1% 0;
	font-size: 1.2em;
}

.navbar-brand {
	min-height: 40px;
	padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a {
	text-align: center;
	color: grey;
}

.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:active{
	text-align: center;
	border-radius: 16px;
	border-style: solid;
	border-width: 1px;
	border-color: #D9d9d9;
	background-color: orange;
	color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand-logo{
	max-height: 200px;
}*/

/*home view*/

/*#home {
    background : url(https://images.pexels.com/photos/88476/pexels-photo-88476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center fixed;
    display: table;
    height: 900px;
    position: relative;
    width: 100%;
    background-size: cover;
}*/


/* /////// user ///////// */
.ui.avatar.image, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg {
    margin-right: .25em;
    display: inline-block;
    width: 13em;
    height: 13em;
    border-radius: 500rem;
}

.ui.list .list>.item .header, .ui.list>.item .header {
    display: block;
    margin: 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    color: rgba(0,0,0,.87);
    font-size: 2em;
    text-align: center;
}

.profileHeader {
	text-align: center;
	margin-top: 7em;
}

.followers {
	font-size: 1.2em;
	margin-left: 1em;
	margin-top: 1em;
	color: black;
}

.headline {
	margin-top:1em;
	text-align: center;
}

.live {
	margin-top:2em;
	text-align: center;
}

.upload {
	margin: 1em;
  display: flex;
  flex-direction: row;
}

.uploads {
	margin: auto;
	width: 62%;
}

.button {
	margin: 0.5em;
	margin-top: 0em;
	border-radius: 500rem;
	font-size: 20px;
	color: black;
}

.ui.tabular.menu+.attached:not(.top).segment, .ui.tabular.menu+.attached:not(.top).segment+.attached:not(.top).segment {
    border-top: none;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    width: 50%;
    margin: auto;
}

.ui.menu[class*="top attached"]:first-child {
    margin-top: 0;
    width: 50%;
    margin: auto;
}

.ui.fluid.container {
    width: 50%;
    margin-top: 6em;
}
