html, body {
	height: 3000px;
}

.navbar {
	z-index: 20;
	background-color: #fff;
	padding: 5px 5px 5px 5px;
	font-size: 1em;
}

.navbar-right {

}

.navbar-brand {
	min-height: 40px;
	padding: 0 5px 5px;
}

.navbar-default .navbar-nav li a {
	text-align: center;
	color: orange;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active{
	text-align: center;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: orange;
	background-color: orange;
	margin-right: .3em;
	color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand-logo{
	max-height: 200px;
}

/*home view*/
#home {
    background : url(https://images.pexels.com/photos/301926/pexels-photo-301926.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center fixed;
    display: table;
    height: 900px;
    position: relative;
    width: 100%;
    background-size: cover;
}

