
.navbar {
	z-index: 20;
	background-color: #fff;
	/*padding: 5px 5px 5px 5px;*/
	font-size: 1em;
	opacity: .5;
}

.navbar-right {

}

.navbar-brand {
	min-height: 40px;
	padding: 0 10px 5px;
}

.navbar-default .navbar-nav li a {
	padding: 5px 10px 6px 10px ;
	border-radius: 8px;
	margin-top: 8px;
	margin-right: .3em;
	text-align: center;
	color: orange;
	border-style: solid;
	border-width: 1px;
	border-color: orange;
}

.navbar-default .navbar-nav li a:active, .navbar-default .navbar-nav li a:hover{
	padding: 5px 10px 5px 10px ;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: orange;
	background-color: orange;
	margin-top: 8px;
	margin-right: .3em;
	color: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.shadow-border {
	z-index: 9;
	background-color: #fff;
	/*position: fixed;*/
	width: 100%;
  border-color: #D3D3D3;
	border-style: solid;
	border-width: 1px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

h1.brandResize{
	color: orange;
	/*text-shadow: -.2px 0 black, 0 .2px black, .2px 0 black, 0 -.2px black;*/
	font-family:"Great Vibes";
	padding-right: 1.75em;
	/*padding-top: .70em;*/
}

.logoResize {
	margin-top: .3em;
	width: 70px;
	height: 60px;
}

/***** SubjectsView *****/
.description {
	background-color: lightgrey;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	height: 200px;
	width: 200px;
}

.subjects-main-header {
	height: 5em;
	padding: 0px;
}

.subject-view-header {
	color: orange;

}

.topic {
	color: orange;
	height: 3em;
	padding: 5px;
}

/***** SubjectsView *****/

/*home view*/
#home {
    background : url(https://images.pexels.com/photos/301926/pexels-photo-301926.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center fixed;
    height: 900px;
    position: relative;
    width: 100%;
    background-size: cover;
}


/* /////// user ///////// */
.ui.avatar.image, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg {
    margin-right: .25em;
    display: inline-block;
    width: 13em;
    height: 13em;
    border-radius: 500rem;
}

.ui.list .list>.item .header, .ui.list>.item .header {
    display: block;
    margin: 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    color: rgba(0,0,0,.87);
    font-size: 2em;
    text-align: center;
}

.profileHeader {
	text-align: center;
	/*margin-top: 7em;*/
}

.followers {
	font-size: 1.2em;
	margin-left: 1em;
	margin-top: 1em;
	color: black;
}

.headline {
	margin-top:1em;
	text-align: center;
}

.live {
	margin-top:2em;
	text-align: center;
}

.upload {
	margin: 1em;
  display: flex;
  flex-direction: row;
}

.uploads {
	margin: auto;
	width: 62%;
}

.button {
	margin: 0.5em;
	margin-top: 0em;
	font-size: 20px;
	color: black;
	background-color: lightgrey;
	padding-right: 1em;
	padding-left: 1em;
}

.enroll {
	margin: 0.5em;
	margin-top: 0em;
	font-size: 20px;
	color: black;
	background-color: lightgrey;
	padding-right: 1em;
	padding-left: 1em;
}

.ui.menu[class*="top attached"]:first-child {
    margin-top: 0;
    width: 50%;
    margin: auto;
}

.ui.fluid.container {
    width: 50%;
    margin-top: 6em;
    margin-bottom:2em;
}

h1.title {
	font-family:"Great Vibes";
	text-shadow: -2px 0 #000, 0 2px 	#000, 2px 0 	#000, 0 -2px 	#000;
	font-size: 7em;
	text-align: center;
	color: orange;
	z-index: 999;
	vertical-align: middle;
	padding-top: 2.5em;
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
     -o-animation: fadein 5s; /* Opera < 12.1 */
        animation: fadein 5s;
}

.ui.secondary.menu .dropdown.item:hover,
.ui.secondary.menu .link.item:hover,
.ui.secondary.menu a.item:hover,
.ui.link.secondary.menu .item:hover {
  background: orange;
  color: #fff;
}



h1.title {
	font-family:"Great Vibes";
	text-shadow: -2px 0 #000, 0 2px 	#000, 2px 0 	#000, 0 -2px 	#000;
	font-size: 7em;
	text-align: center;
	color: orange;
	z-index: 999;
	vertical-align: middle;
	padding-top: 2.5em;
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
     -o-animation: fadein 5s; /* Opera < 12.1 */
        animation: fadein 5s;
}

.ui.secondary.menu .dropdown.item:hover,
.ui.secondary.menu .link.item:hover,
.ui.secondary.menu a.item:hover,
.ui.link.secondary.menu .item:hover {
  background: orange;
  color: #fff;
}

h1.title {
	font-family:"Great Vibes";
	text-shadow: -2px 0 #000, 0 2px 	#000, 2px 0 	#000, 0 -2px 	#000;
	font-size: 7em;
	text-align: center;
	color: orange;
	z-index: 999;
	vertical-align: middle;
	padding-top: 1.5em;
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
     -o-animation: fadein 5s; /* Opera < 12.1 */
        animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .9; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .9; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .9; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .9; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .9; }
}

h2.ui.header {
    font-size: 2rem;
    font-family: "Great Vibes";
    color: orange;
}

.profileHeader {
	background-color: orange;
	box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}

.livestream {
	margin: auto;
	width: 50%;
	text-align: center;
	width: 400px;
}

